<style>
    label, input {
        display: block;
    }
    span.helptext {
        display: none;
    }
</style>

<div>
    <!-- <a href="{% url 'dashboard' %}">Strona główna</a>
    {% if user.is_authenticated %}
        {% if user.is_superuser %}
            <a href="{% url 'users' %}">Lista użytkowników</a>
        {%  endif%}
        <a href="{% url 'books' %}">Książki</a>
        <a href="{% url 'movies' %}">Filmy</a>
        <a href="{% url 'cds' %}">Płyty</a>
        <a href="{% url 'logout' %}">Logout</a>
        <a href="{% url 'password_change' %}">Change password</a>
    {% else %}
        <a href="{% url 'login' %}">Login</a>
    {% endif %} -->
</div>

<h1>TopGame</h1>

{% block content %}
{% endblock %}