<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">

    <title>TopGame</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

<body>
    <div>
        <div class="container">

            <nav class="navbar navbar-dark bg-dark navbar-expand-lg">
                <div>
                    <a class="btn text-light" href="{% url 'dashboard' %}">
                        <h1>TopGame</h1>
                    </a>
                </div>
                <div>
                    <ul class="nav navbar-nav">
                        {% if user.is_authenticated %}
                        <li class="nav-item active">
                            <a class="nav-link" href="{% url 'madhex-play' %}">Madhex</a>
                        </li>

                        <li class="nav-item active">
                            <a class="nav-link" href="{% url 'profile' %}">Profile</a>
                        </li>

                        <li class="nav-item active">
                            <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                        </li>

                        <li class="nav-item active">
                            <a class="nav-link" href="{% url 'password_change' %}">Change Password</a>
                        </li>

                        {% else %}
                        <li class="nav-item active">
                            <a class="nav-link" href="{% url 'login' %}">Login</a>
                        </li>

                        {% endif %}

                    </ul>
                </div>
            </nav>
        </div>
        <div class="container">
            {% if messages %}
            {% for message in messages %}
            <hr>
            <div class="alert alert-success">
                {{ message }}
            </div>
            {% endfor %}
            {% endif %}
            {% block content %}
            {% endblock %}
        </div>
    </div>
</body>

</html>