{% extends 'base.html' %}

{% load crispy_forms_tags %}
{% block content %}
<div>
    <div>
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <h2 class="border-bottom mb-4">Registration</h2>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group d-flex justify-content-center">
                <button class="btn btn-outline-primary" type="submit">Register</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">Already registered? <a class="ml-2" href="{% url 'login' %}">Login</a></small>
        </div>
    </div>
</div>
{% endblock content %}