{% extends 'base.html' %}

{% block content %}
  <div id="container" style="width: 75%;">
    <canvas id="chart"></canvas>
  </div>
  <script src="//cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
  
  <script>
      let userManas = `{{ manas | safe }}`;
      console.log(userManas);

      let keys = Object.keys(userManas);
      console.log(keys);

      new Chart(document.getElementById("chart"), {
          type: 'line',
          data: {
              labels: keys,
              datasets: [{
                      label: "Like",
                      backgroundColor: "rgb(91, 223, 91)",
                      data: keys
                  }
          },
          options: {
              scales: {
                  yAxes: [{
                      ticks: {
                          beginAtZero: true
                      }
                  }]
              },
              legend: {
                  display: true
              },
              title: {
                  display: true,
                  text: 'Statystyki polubień książek'
              }
          }
      });
  </script>

{% endblock %}