{% extends 'base.html' %}

{% block content %}
{% if user.is_authenticated %}

<div class="container">
    <div id="utilities" class="row align-items-center mt-3">
        <div class="col col-md-4 text-center">
            <div>
                <h2>Profile</h2>
            </div>
            <div>
                <a href="{% url 'profile' %}"><img src="/media/icons/login_icon.png" width="120" height="120"></a>
            </div>
        </div>
        <div class="col col-md-4 text-center">
            <div>
                <h2>Statistics</h2>
            </div>
            <div>
                <a href="{% url 'statistics' %}"><img src="/media/icons/pie_chart_icon.png" width="120" height="120"></a>
            </div>
        </div>
    </div>
    <div id="games" class="row align-items-center mt-4">
        <div class="col col-md-4 text-center">
            <div>
                <h2>Madhex</h2>
            </div>
            <div>
                <a href="{% url 'madhex-play' %}"><img src="/media/icons/madhex_icon.png" width="120" height="120"></a>
            </div>
        </div>
    </div>
</div>
{% else %}
<div class="container">
    <div id="utilities" class="row align-items-center mt-3">
        <div class="col col-md-4 text-center">
            <div>
                <h2>Login</h2>
            </div>
            <div>
                <a href="{% url 'login' %}"><img src="/media/icons/login_icon.png" width="120" height="120"></a>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}